%ul.nav.nav-tabs.nav-stacked.span2
  %li.nav-header
    Основное:
  %li
    =link_to 'I семестр'
  %li.active
    =link_to 'II семестр'
  %li
    =link_to 'III семестр'
  %li
    =link_to 'IV семестр'
  %li.nav-header
    Дополнительно:   
  %li
    =link_to 'Контест 2012'
  %li
    =link_to 'Контест 2013'
  %li
    =link_to 'Доп задание'
